# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/

# Node (for frontend later)
node_modules/
dist/

# IDE/editor
.vscode/
.idea/
.DS_Store